body {
  background-color: white;
}

.star a {
  text-decoration: none;
  width: 25px;
  display: inline-block;
  text-align: center;
  color: gainsboro;
}

.star-on a {
  color: black;
}

.action {
  margin-left: 4px;
  margin-right: 4px;
}

.task {
  font-family: monospace;
  font-size: 1.6em;
}
